@model WebStore.Models.Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Карточка сотрудника</title>
</head>
<body>
    <a href="~/Home/EmployeesList">Назад к списку сотрудников</a>
    <br />
    <table>
        <thead>
            <tr>
                <td>#</td>
                <td>Фамилия</td>
                <td>Имя</td>
                <td>Отчество</td>
                <td>Возраст</td>
                <td>Отдел</td>
                <td>Зарплата</td>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>@Model.Id</td>
                <td>@Model.LastName</td>
                <td>@Model.FirstName</td>
                <td>@Model.Patronymic</td>
                <td>@Model.Age</td>
                <td>@Model.Department</td>
                <td>@Model.Salary</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
